[submodule "service/wifi-connect"]
	path = service/wifi-connect
	url = ../../samizdapp/wifi-connect
[submodule "service/hostname"]
	path = service/hostname
	url = ../../samizdapp/hostname
[submodule "lib"]
	path = lib
	url = ../../samizdapp/herakles-lib
[submodule "daemon/next"]
	path = daemon/next
	url = ../../samizdapp/herakles-next
[submodule "daemon/caddy"]
	path = daemon/caddy
	url = ../../samizdapp/herakles-caddy.git
[submodule "service/yggdrasil-peers"]
	path = yggdrasil/crawler
	url = ../../samizdapp/yggdrasil-peers
	branch = master
[submodule "service/yggdrasil"]
	path = yggdrasil/router
	url = ../../samizdapp/yggdrasil-go
	branch = develop
[submodule "newpleroma"]
	path = pleroma/pleroma
	url = ../../samizdapp/pleroma
	branch = stable
[submodule "mdns-advertise"]
	path = mdns-advertise
	url = ../../samizdapp/mdns-advertise
