[submodule "service/wifi-connect"]
	path = service/wifi-connect
	url = https://github.com/balena-os/wifi-connect
[submodule "service/hostname"]
	path = service/hostname
	url = https://github.com/samizdapp/hostname
[submodule "app"]
	path = app
	url = git@github.com:samizdapp/herakles-expo
[submodule "lib"]
	path = lib
	url = git@github.com:samizdapp/herakles-lib
[submodule "daemon/next"]
	path = daemon/next
	url = git@github.com:samizdapp/herakles-next
[submodule "daemon/synapse"]
	path = daemon/synapse
	url = git@github.com:samizdapp/synapse
[submodule "service/upnp"]
	path = service/upnp
	url = git@github.com:samizdapp/herakles-upnp
[submodule "daemon/caddy"]
	path = daemon/caddy
	url = git@github.com:samizdapp/herakles-caddy.git
[submodule "harness/cinny"]
	path = harness/cinny
	url = https://github.com/samizdapp/cinny
[submodule "service/yggdrasil-peers"]
	path = service/yggdrasil-peers
	url = https://github.com/samizdapp/yggdrasil-peers
	branch = master
[submodule "service/yggdrasil"]
	path = service/yggdrasil
	url = https://github.com/samizdapp/yggdrasil-go
	branch = develop
[submodule "daemon/pleroma"]
	path = daemon/pleroma
	url = git@github.com:samizdapp/pleroma
	branch = stable
[submodule "newpleroma"]
	path = daemon/pleroma
	url = git@github.com:samizdapp/pleroma
