[submodule "service/wifi-connect"]
	path = service/wifi-connect
	url = https://github.com/balena-os/wifi-connect
[submodule "harness/cinny"]
	path = harness/cinny
	url = https://github.com/ajbura/cinny
[submodule "service/hostname"]
	path = service/hostname
	url = https://github.com/samizdapp/hostname
[submodule "service/yggdrasil"]
	path = service/yggdrasil
	url = https://github.com/samizdapp/yggdrasil-go
[submodule "service/yggdrasil-crawler"]
	path = service/yggdrasil-crawler
	url = https://github.com/wafflecomposite/yggdrasil-crawler-python
[submodule "app"]
	path = app
	url = git@github.com:samizdapp/herakles-expo
