version: "2"
volumes:
  service_upnp:
  service_hostname:
  proxy_nm:
  service_yggdrasil:
  shared_yggdrasil:
  service_yggdrasil_sock:
  shared_etc:
  postgres2:
  gateway_client:
services:
  daemon_caddy:
    build: ./daemon/caddy
    restart: always
    network_mode: host
    # ports:
    #   - "80:80"
    #   - "443:443"
    #   - "8443:8443"
    #   - "4000:4000"
    #   - "4001:4001"
    volumes:
      - shared_yggdrasil:/yggdrasil
      - service_yggdrasil:/etc/yggdrasil-network
      - gateway_client:/next
  gateway_client:
    build:
      context: ./athena
      dockerfile: ./packages/gateway-client/Dockerfile
    network_mode: host
    restart: always
    # expose:
    #   - "80"
    volumes:
      - service_upnp:/usr/src/volumes/service_upnp
      - service_hostname:/usr/src/volumes/service_hostname
      - gateway_client:/usr/src/volumes/gateway_client
  daemon_pleroma:
    restart: always
    network_mode: host
    build:
      context: ./pleroma
    volumes:
      - shared_etc:/shared_etc
      - service_yggdrasil:/etc/yggdrasil-network
    environment:
      DOMAIN: exmaple.com
      INSTANCE_NAME: Pleroma
      ADMIN_EMAIL: admin@example.com
      NOTIFY_EMAIL: notify@example.com
      DB_USER: pleroma
      DB_PASS: ChangeMe!
      DB_NAME: pleroma
      DB_HOST: localhost
    depends_on:
      - postgres
  postgres:
    image: postgres:12.1-alpine
    restart: always
    network_mode: host
    environment:
      POSTGRES_USER: pleroma
      POSTGRES_PASSWORD: ChangeMe!
      POSTGRES_DB: pleroma
    volumes:
      - postgres2:/var/lib/postgresql/data
  service_wifi-connect:
    build: ./service/wifi-connect
    network_mode: "host"
    labels:
      io.balena.features.dbus: "1"
    cap_add:
      - NET_ADMIN
    environment:
      DBUS_SYSTEM_BUS_ADDRESS: "unix:path=/host/run/dbus/system_bus_socket"

  service_hostname:
    build: ./service/hostname
    restart: "no" # Required to avoid container restarting indefinitely
    network_mode: host
    labels:
      io.balena.features.supervisor-api: 1 # Required to interact with the supervisor
    environment:
      SET_HOSTNAME: samizdapp
    volumes:
      - service_hostname:/service/hostname

  daemon_proxy:
    build: ./lib
    labels:
      io.balena.features.dbus: "1"
    privileged: true
    network_mode: host
    restart: always
    volumes:
      - service_upnp:/proxy/upnp
      - shared_etc:/shared_etc
      - shared_yggdrasil:/yggdrasil
      - gateway_client:/next
    environment:
      PUBLIC_PATH: "/next/libp2p.bootstrap"
      ID_PATH: "/shared_etc/libp2p.id"
    # expose:
    #   - "8000"
  # These will eventually live in an inherited project, but until they have a home they are saved here
  yggdrasil:
    # https://stackoverflow.com/a/37090165
    build:
      context: ./yggdrasil/
    privileged: true
    restart: "always"
    network_mode: host
    # expose:
    #   - "9001"
    volumes:
      - service_yggdrasil:/etc/yggdrasil-network
      - service_yggdrasil_sock:/var/run/
      - shared_etc:/shared_etc
      - shared_yggdrasil:/yggdrasil
  yggdrasil_upnp:
    # https://stackoverflow.com/a/37090165
    build:
      context: ./yggdrasil/
      dockerfile: Dockerfile.upnp
    privileged: true
    restart: "no  "
    network_mode: host
    # expose:
    #   - "9001"
    volumes:
      - service_yggdrasil:/etc/yggdrasil-network
      - service_yggdrasil_sock:/var/run/
      - shared_etc:/shared_etc
      - shared_yggdrasil:/yggdrasil
  yggdrasil_watcher:
    # https://stackoverflow.com/a/37090165
    build:
      context: ./yggdrasil/
      dockerfile: Dockerfile.watcher
    privileged: true
    network_mode: host
    # expose:
    #   - "9001"
    volumes:
      - service_yggdrasil:/etc/yggdrasil-network
      - service_yggdrasil_sock:/var/run/
      - shared_etc:/shared_etc
      - shared_yggdrasil:/yggdrasil
  yggdrasil_crawler:
    # https://stackoverflow.com/a/37090165
    build:
      context: ./yggdrasil/
      dockerfile: Dockerfile.crawler
    privileged: true
    restart: "always"
    network_mode: host
    # expose:
    #   - "9001"
    volumes:
      - service_yggdrasil:/etc/yggdrasil-network
      - service_yggdrasil_sock:/var/run/
      - shared_etc:/shared_etc
      - shared_yggdrasil:/yggdrasil
  mdns-advertise:
    build: ./mdns-advertise
    restart: "always"
    privileged: true
    network_mode: host
    labels:
      io.balena.features.dbus: "1"
    environment:
      DBUS_SYSTEM_BUS_ADDRESS: "unix:path=/host/run/dbus/system_bus_socket"
      MDNS_TLD: "samizdev.local"

  # harness__cinny:
  #   build: ./harness/cinny
  #   volumes:
  #     - harness___cinny:/src/dist
  # daemon_synapse:
  #   build: ./daemon/synapse
  #   restart: "always"
  #   network_mode: host
  #   expose:
  #     - "8008"
  #   ports:
  #     - "8008:8008"
  #   volumes:
  #     - daemon_synapse:/data
  #     - shared_etc:/etc
  #     - service_yggdrasil:/yggdrasil
