{
    local_certs
    auto_https disable_redirects
    debug
}

(corsify) {
    header {
        ?Access-Control-Allow-Origin *
        ?Access-Control-Allow-Credentials true
        ?Access-Control-Allow-Methods *
        ?Access-Control-Allow-Headers *
    }
}

(harnessify) {

}

http:// {
    @options {
        method OPTIONS
    }

    @daemon_synapse {
        header X-Intercepted-Subdomain synapse
    }

    handle @options {
        import corsify
        respond 204
    }

    handle @daemon_synapse {
        reverse_proxy daemon_synapse:8008
    }

    handle_path /harness/* {
        import corsify
        file_server {
            root /harness/
        }
    }

    handle {
        import corsify
        reverse_proxy daemon_next
    }
}
